html {
    --background-color: #ffffffcc;
    --accent: #ed6a5a;
    --accent-1: #ed6a5a;
    --accent-2: #f4f1bb;
    --accent-3: #9bc1bc;
    --accent-4: #5ca4a9;
    --accent-5: #e6ebe0;

    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
    html {
        --background-color: #000000cc;
        --accent: #d53c28;
        --accent-1: #d53c28;
        --accent-2: #b57521;
        --accent-3: #409085;
        --accent-4: #115e64;
        --accent-5: #667e74;

        background: black;
        color: white;
    }
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    padding: 0.8rem;
    background-color: var(--background-color);
    border-block-end: solid 1px #00000022;
    z-index: 9999;
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    header {
        backdrop-filter: saturate(180%) blur(20px);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
    }
}

main {
    width: 80vw;
    margin-inline: auto;
}

main > * {
    margin-block-start: 4rem;
}

/* article headers */
article h2 {
    margin: 0;
}

article h3 {
    margin-block: 0 1rem;
    opacity: 0.8;
}

article h4 {
    margin-block: 0.5rem 1rem;
    opacity: 0.6;
}

/* links */
a {
    transition: 0.2s;
    color: inherit;
}

a:hover {
    color: var(--accent);
}

.button {
    text-decoration: none !important;
    padding: 0.75rem 0.5rem;
    border-radius: 1rem;
    display: inline-block;
}

.button:hover {
    color: inherit;
    opacity: 0.8;
}

.button-primary {
    background-color: var(--accent-2);
}

.accent {
    color: var(--accent);
}

.pre-title {
    font-size: x-large;
    font-weight: 700;
    font-stretch: condensed;
}

.title {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* footer */
footer {
    margin-block: 5rem 2rem;
    text-align: center;
    opacity: 0.4;
}

.footer-contact-icons a {
    text-decoration: none;
}

.footer-contact-icons a img {
    height: 1.5rem;
    margin: 0.5rem;
}
